<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- REACT STYLES -->
  <link href="/static/css/2.ed439b8d.chunk.css" rel="stylesheet">
  <link href="/static/css/main.5ecd60fb.chunk.css" rel="stylesheet">
</head>
<body>
  <!-- cuz react is handling navbar -->
  <!-- {% include 'components/navbar.html' %} -->

  
  <!-- <div class="container"> -->
  {% block content %}
  {% endblock %}
  <!-- </div> -->

  {% include 'react/scripts.html' %}
</body>
</html>